body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.battle-container {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    position: relative;
}

.health-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.health-bar {
    width: 70px;
    height: 53px;
    background-color: black;
    position: relative;
}

.hp-text {
    font-family: PressStart2P;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 35px;
}

.hp-value {
    font-family: PressStart2P;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

.player-bar {
    height: 100%;
    background-color: rgb(254, 255, 9);
    width: 100%;
    transition: width 0.5s;
}

#battle-box {
    width: 500px;
    height: 500px;
    background-color: #000000;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 13px solid white;
}

.soul {
    width: 30px;
    height: 30px;
    background-image: url('https://seeklogo.com/images/U/undertale-red-soul-logo-8D3C517EF0-seeklogo.com.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: none;
}

.action-buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
}

.action-button {
    width: 290px;
    height: 110px;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
    margin: 0 55px;
    background-size: cover;
    cursor: pointer;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: '8BitOperator';
    src: url('fonts/8BitOperator.ttf') format('truetype');
}

.hello-world {
    font-family: '8BitOperator', PressStart2P, sans-serif;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 2px;
}